* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	background-color: darksalmon;
}

nav>ul {
	list-style: none;
	overflow: hidden;
}

#app {
	width: 1200px;
	margin: 0 auto;
}

header,
nav,
footer {
	text-align: center;
	height: 50px;
	line-height: 50px;
}

header {
	border: 1px solid darksalmon;
	font-size: 1.25em;
	letter-spacing: 1em;
	font-weight: bold;
}

main {
	overflow: hidden;
}

main>* {
	float: left;
}

h1 {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 300px;
}

ul {
	overflow: hidden;
	display: inline-block;
}

li {
	float: left;
	width: 100px;
}

li:hover {
	background-color: lightpink;
	color: lightpink;
	cursor: pointer;
}

nav>ul>li {
	float: left;
	width: 120px;
	background-color: darksalmon;
}

nav>ul>li>a {
	color: indianred;
	text-decoration: none;
	font-weight: bold;
	display: block;
}

nav>ul>li>a:hover {
	color: white;
	background-color: lightcoral;
}

aside {
	height: 200px;
	line-height: 200px;
	width: 100px;
	background-color: lightgray;
	text-align: center;
}

section {
	min-height: 600px;
	width: 1000px;
	padding: 20px;
}

footer {
	border: 1px solid palevioletred;
}